<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="Width=device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script>
        var usuń = function(object){
             const Url = 'http://LOCALHOST:3000/dfq';
             const Data = {
                 user: object.getAttribute('data-arg1'),
                 consultation: object.getAttribute('data-arg2')
            };
             fetch(Url, {method:'DELETE', body:JSON.stringify(Data),  headers: {'Content-Type': 'application/json'}})
             .then(data=> data.json())
             .then(res => {
                 console.log(res);
                 location.reload();
            })
             .catch(error=>{console.log(error)})
        }
    </script>

    <title>Konsultacje</title>
</head>

<body>
    <nav>
        <h4>Konsultacje</h4>
        <ul>
            <li><a href="/profil">Profil</a></li>
            <li><a href="/kalendarz">Kalendarz konsultacji</a></li>
            <li><a href="/auth/wyloguj">Wyloguj</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="avatar-ctn">
                        <img src="/avatar.png" class="avatar" alt="user profile picture" />
                    </div>
                    <div class="card-body">
                        {{#if user}}
                        <h5 class="card-title">{{user.name}}</h5>
                        {{/if}}
                        {{#if consultant}}
                        <h5 class="card-title">{{consultantprimo.konsultant}}</h5>
                        {{/if}}
                        {{#if user}}
                        <a href="#" class="btn btn-primary">{{user.email}}</a>
                        {{/if}}
                        {{#if consultant}}
                        <a href="#" class="btn btn-primary">{{consultantprimo.email}}</a>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card text-center">
                    {{#if user}}
                    <div class="card-header">
                        Oczekujące konsultacje
                    </div>
                    {{/if}}
                    {{#if consultant}}
                    <div class="card-header">
                        Bieżąca konsultacja
                    </div>
                    {{/if}}

                    <div class="card body">
                        {{#if user}}
                        {{#each consultation}}
                        <li>Konsultacja z {{this.name}}, od {{this.startv}} do {{this.endv}} Twoja pozycja w kolejce:
                            {{this.position}}</li>
                        {{/each}}
                        {{/if}}

                        {{#if consultant}}
                        <h5>{{consultantprimo.startv}} - {{consultantprimo.endv}} </h5>
                        {{#each consultant}}
                        <div style="display: flex; justify-content: center; align-items: center; height: 50px; padding: 5px">
                            <h5 style="margin: 0;" class="card-tile">{{inc @index}}. {{this.name}}
                            </h5><button style = "margin-left:auto;" class="btn btn-danger button-deleter" data-arg1={{this.user_id}} data-arg2={{this.consultation_id}} onclick="usuń(this)">usuń</button></div>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>


        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
</body>

</html>
